<div style="display: flex; flex-direction: row;">
  <div class="text-block">
    <h4>
      Hello! I'm Alpana Patel and here I'm going to tell about myself...
      &#10084;
    </h4>
    <p>
      Let's start from begining, as you know guys my name is ALPANA- the
      RANGOLI. Let's move to next, most of the people told about their
      professional summary but here I'm going to tell about 'the Original Me'.
    </p>

    <p>
      Generally, I'm from Uttar Pradesh. I have done my schooling from my native
      place in the year of 2009-2013. Those days were very amazing, there I have
      learned a lot of creative things like I explored in many area like Art,
      Dancing, Sports, cooking etc. That things helped me to grow up and after
      schooling I went for my graduation.
    </p>
    <p>
      My B.tech journey was started in the year 2013-2017. I did Bachalor's in
      Computer Science and there I explored my skills as well as extra
      curriculum activity. There I have joined Lawn Tennis, LT is amazing game.
      I learned a lot from my seniors, my faculty and my friends. Computer
      Science is the amazing branch, this branch teach you to think, implement,
      visualize and analysis about code's.
    </p>
    <p>
      Then, I decided to go for Master's. My Master's Journey started from
      2017-2019. I have done my Master's with Computer Science specilization in
      the area of Artificial Intelligence and Machine Learning. Finally, there I
      have found myself.
    </p>
    <p>
      The most obvious thing about me is I’m a bit of an Extrovert. I am super
      loyal, determined, ambitious and optimistic girl. These qualitties make me
      happy.
    </p>
  </div>
  <img src="./assets/img/7.jpg" alt="Nature" style="width: 650px;" />
</div>
