<div class="img-fluid">
  <div class="container-fluid splash" id="splash">
    <div class="container">
      <img src="/assets/img/4.jpeg" alt="Portrait of Alpana" class="profile-image"> 
      <h1>ALPANA!</h1> 
      <h1 class="intro-text"><span class="lead" id="typed">I am a </span></h1>
      <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 Center">
        <ul class="social-icons">
          <li>
            <a href="https://www.linkedin.com/in/alpna-patel-17bb14117/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/the_alp_darpan/"
              ><i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/1703alpanapatel"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
      
          <li>
            <a href="https://github.com/alpnaP"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCRVT2pjdyrf7jsHpKSQaM2Q"
              ><i class="fa fa-youtube-square"></i>
            </a>
          </li>
         
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- <app-portfolio></app-portfolio> -->
<app-about></app-about>
<app-gallery></app-gallery>

<!-- <app-blog></app-blog>  -->
<app-contact></app-contact>
