<!-- <footer class="footer-distributed">
  <div class="container">
    <div class="footer-left">
      <span>Alpana.</span>
      <p class="footer-company-name">patel &copy; 2020</p>
    </div>
    <div class="footer-right">
      <div class="footer-icons">
        <a href="https://www.facebook.com/alpana.patel.792"
          ><i class="fa fa-facebook"></i
        ></a>
        <a href="https://twitter.com/1703alpanapatel"
          ><i class="fa fa-twitter"></i
        ></a>
        <a href="https://www.linkedin.com/in/alpna-patel-17bb14117/"
          ><i class="fa fa-linkedin"></i
        ></a>
        <a href="https://github.com/alpnaP"><i class="fa fa-github"></i></a>
        <a href="mailto:patel.alpana1703@gmail.com"
          ><i class="fa fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer> -->
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          <i>Portfolio</i> is the container of information. This is a portfolio
          website which contains the information about me. This focuses on
          providing creative work and interesting information. The Gallery
          contains amazing photos of diffrent angle like Mountain view, Fall
          View and other amazing views. This also includes Portfolio section
          that includes my professional summary and work.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Skills</h6>
        <ul class="footer-links">
          <li><a href="#">Javascript</a></li>
          <li>
            <a href="#">Angular</a>
          </li>
          <li>
            <a href="#">HTML</a>
          </li>
          <li>
            <a href="#">CSS</a>
          </li>
          <li><a href="#">Machine Learning</a></li>
          <li>
            <a href="#">Databases</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/about">About</a></li>
          <li>
            <a routerLink="/gallery">Gallery</a>
          </li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          patel &copy; 2020
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/alpana.patel.792"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/1703alpanapatel"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/alpna-patel-17bb14117/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/alpnaP"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="mailto:patel.alpana1703@gmail.com"
              ><i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
