
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          No &copy; copyright issues.
        </p>
      </div>
      <!-- <div class="col-xs-6 col-md-3">
        <p>You can find everywhere!</p>
      </div> -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a href="https://www.linkedin.com/in/alpna-patel-17bb14117/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/the_alp_darpan/"
              ><i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/1703alpanapatel"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
      
          <li>
            <a href="https://github.com/alpnaP"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="mailto:1703alpanapatel@gmail.com"
              ><i class="fa fa-envelope"></i>
            </a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>
</footer>
