<body class="w3-light-grey">
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px;">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="/assets/img/4.jpeg" style="width: 100%;" alt="Avatar" />
            <div class="w3-display-bottomleft w3-container w3-text-white">
              <h2>Alpna Patel</h2>
            </div>
          </div>
          <br />
          <div class="w3-container">
            <p>
              <i
                class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >Software Developer
            </p>
            <p>
              <i
                class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >Bengaluru, Karnataka
            </p>
            <p>
              <i
                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >patel.alpana1703@gmail.com
            </p>
            <p>
              <i
                class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
              ></i
              >(+91)7007331690
            </p>
            <hr />

            <p class="w3-large">
              <b
                ><i
                  class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                ></i
                >SKILLS</b
              >
            </p>
            <p>Javascript OOP</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 90%;"
              >
                90%
              </div>
            </div>
            <p>Angular</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 80%;"
              >
                <div class="w3-center w3-text-white">80%</div>
              </div>
            </div>
            <p>Good Knowledge of Machine Learning</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 75%;"
              >
                86%
              </div>
            </div>
            <p>HTML, CSS, Dialogflow</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 50%;"
              >
                80%
              </div>
            </div>
            <p>MongoDB, mySQL, Firebase</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 75%;"
              >
                75%
              </div>
            </div>
            <br />
            <p class="w3-large">
              <b
                ><i
                  class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                ></i
                >INTRESTES</b
              >
            </p>
            <p>&#9679; Lawn Tennis</p>
            <p>&#9679; Blogging</p>
            <p>&#9679; Learning</p>
            <br />

            <p class="w3-large w3-text-theme">
              <b
                ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                >LANGUAGES</b
              >
            </p>
            <p>&#9679; English</p>
            <p>&#9679; Hindi</p>
            <p>&#9679; Punjabi</p>
            <br />
          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >Work Experience
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Rehash Technologies Pvt Ltd (Software Developer Intern)</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2019
              -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p>
              I have worked with Javascript, Angular, Node, Dialogflow and
              MongoDB. I have explored my knowledge in these skills. I have
              implemented chatbot using Google Dialogflow.
            </p>
            <hr />
          </div>
        </div>
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >PROJECT UNDERTAKEN
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b
                >&#9679; CHATBOT: By using Dialogflow, Angular, Node and MongoDB
                (Intern)</b
              ><br /><br />
              <b
                >&#9679; DeLC: An Efficient Ensemble Approach for Sentiment
                Analysis</b
              >
              <br /><br />
              <b>&#9679; LazzyBug.com: Online Blogging Portal</b>
              <br /><br />
              <b
                >&#9679; Blooming Buds: Online website for a playschool. It is
                based on advanced java.</b
              >
            </h5>
          </div>
        </div>
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >RESEARCH PUBLICATIONS
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>
                &#9679; Sentiment Analysis by using Recurrent Neural Network
                (ICACSE-Elsevier)</b
              ><br /><br />
              <b>
                &#9679; Big Geospatial Data Analysis through Cloud Computing:
                Issues and Challenges (ICACSE-Elsevier)</b
              ><br /><br />
              <b
                >&#9679; Social Media Analysis through Big Data Analytics: A
                Survey (ICACSE-Elsevier)</b
              ><br /><br />
              <b
                >&#9679; DeLC- An Efficient Ensemble Approach for Sentiment
                Analysis (Journal - Under Review)</b
              ><br />
            </h5>
          </div>
        </div>

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16">
            <i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            ></i
            >EDUCATION
          </h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Kamla Nehru Institute of Technology, Sultanpur-UP</b><br />
              <b>M.Tech (CSE | ML) | July 2017-June 2019| 86%</b><br /><br />
              <b>Babu Banarasi Das University, Lucknow-UP B.Tech (CSE)</b><br />
              <b>| July 2013 - June 2017 | 79.05%</b><br /><br />
              <b>Hanuman Intermediate College, Padrauna-UP Intermediate</b
              ><br />
              <b>|July 2011- June 2013| 82%</b><br /><br />
              <b>Hanuman Intermediate College, Padrauna-UP High School</b
              >b><br />
              <b>|July 2009- June 2011| 77.7%</b><br />
            </h5>
            <br /><br />
            <p class="w3-large">
              <b
                ><i
                  class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                ></i
                >Download Resume</b
              >
            </p>
            <a
              href="https://drive.google.com/file/d/1p_kPljFO5-OQRdlE2ZY4Ls6YuYm_B8Fo/view?usp=sharing"
            >
              Click Here</a
            ><br />
            <br /><br />
            <br />
          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
</body>
